<!DOCTYPE html>
<html lang="en" ng-app='rescuePage'>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ruben To The Rescue</title>

    <link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="reset.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>
<body>

<section ng-controller="PanelController as panel">
    <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" id="logo-section">
                    <img src="images/logo3.jpg">
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12 tabrow">
                    <ul class="nav nav-tabs nav-justified">
                        
                        <li ng-class="{active: panel.isSelected(1)}">
                            <a href ng-click="panel.selectTab(1)">About</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(2)}">
                            <a href ng-click="panel.selectTab(2)">Services Available</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

        <div class="container-fluid main-info">
            <h1 class="text-uppercase">Ruben to the Rescue!</h1>
            <p>Setup, support and assitance for all of your technological needs.</p>
            <!--Background-Image: Apple, the Apple logo and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries.-->
        </div>
    </div>

    <div class="container panel-section">
            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>About</h4>
                <p>Ruben was born and raised in Long Beach, New York, where he is currently working at a wireless store. Ruben has always loved technology and has a passion for teaching people to live in harmony with their devices. Whether you need tech support, purchasing advice, networking or virus removal, Ruben will come to your rescue! Call for a free consultation at (516) 387-2522 <span class="glyphicon glyphicon-phone"></span></p>
                <br>

                <div id="testimonials">
                   <h5>Testimonials</h5>
                        <blockquote><img src="images/quote.png">
                        Ruben should be given special accolades for his patience with those of us who are not techno geniuses. He remembered me every time I went in there and knew exactly what I had purchased. In this technologically advanced world, it is nice to see that some people have not lost the personal touch...Way to go Ruben and the rest of the staff!<img src="images/close-quote.png">
                        <footer>Cate, longtime customer</footer>
                        </blockquote>
                        <blockquote><img src="images/quote.png">
                        Although I have a Ph.D. from Columbia University, as someone who grew up in the era of rotary phones and black &amp; white TV, Ruben has been a lifesaver as our guide into the 'new world' of technology. His vast knowledge of technology, both cell phones and computers is excellent. More important though is his ability to troubleshoot, fix the problem, and  explain to those of us who are 'technologically challenged,' how to go about using and actually enjoying our cell phones and computers. Ruben is extremely patient and is able to teach his clients how to use these devices without fear or trepidation. I have been a client of Ruben for several years and would highly recommend him to others who need assistance with their cell phones or computers.<img src="images/close-quote.png">
                        <footer>Dr. David Lutwin, longtime customer</footer>
                        </blockquote>     
                </div>

                <div id="comment-section">
                    <br><br><h5>Comments for Ruben to the Rescue!</h5>
                    <form name="commentForm" ng-controller="CommentController as commentCtrl" ng-submit="commentCtrl.addComment">
                        <blockquote>
                            {{commentCtrl.comment.body}}<br>
                            <cite>- {{commentCtrl.comment.author}}</cite>
                            <a href="#" class="pull-right" ng-click="removeItem($index)">X</a>
                        </blockquote>
                        <p>Let us know about your experience and what you think of the services provided.</p>
                        <div class="form-group">
                            <label>message: </label>
                            <textarea ng-model="commentCtrl.comment.body" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label>from: </label>
                            <input ng-model="commentCtrl.comment.author" type="text" class="form-control" />
                        </div>
                        <input ng-click="btn_add();" type="submit" value="submit" class="btn btn-default"/>
                    </form>
                </div>
            </div>

            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Services Available</h4>
                <p>Ruben to the Rescue provides a number of services to multiple devices. Whether you are setting up a home office, running a small business, or you are having a hard time with a personal device, Ruben To The Rescue can help!</p>
                <br/>
                <ul>
                    <li>&bull; Device Installation</li>
                    <li>&bull; Repairs</li>
                    <li>&bull; Networking</li>
                    <li>&bull; Troubleshooting</li>
                    <li>&bull; Virus Removal</li>
                    <li>&bull; Purchase Guidance</li>
                    <li>&bull; Tutoring</li>
                    <li>&bull; Upgrades</li>
                    <li>&bull; Data Recovery</li>
                    <li>&bull; Cellphone Support</li>
                </ul>
            </div>
            
            <div class="panel" ng-show="panel.isSelected(3)">
                <h4>Contact for Questions or Appointments</h4>
                <p>Call Ruben To The Rescue at (516) 387-2522 or for a free consultation or to schedule an appointment, please fill out the form below or e-mail us at <a href="ruben2therescue@gmail.com">ruben2therescue@gmail.com</a></p>
                <div id="contact">
                <!--<form action="mailto:ruben2therescue@gmail.com?subject=Technical Support" method="POST" enctype="text/plain">-->
                    <form class="form-horizontal" action="mail.php" method="POST" ng-controller="formController" ng-submit="submit()">
                        <div class="form-group">
                            <label for="nameInput" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="nameInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="emailInput" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="email" id="emailInput" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numInput" class="col-sm-2 control-label">Number</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="number" id="numInput" placeholder="Telephone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="messaPOSText" class="col-sm-2 control-label">Services Needed</label>
                            <div class="col-sm-10">
                                <textarea id="messaPOSText" name="message" class="form-control" rows="5" placeholder="Services Needed"></textarea>
                            </div>
                        </div>   

                        <div class="form-group">
                            <label for="daysOfWeek" class="col-sm-2 control-label">Days Available</label>
                            <div class="col-sm-10" id="daysOfWeek">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" name="mon" value="option1">Monday
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" name="tues" value="option2">Tuesday
                                </label>
                                 <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" name="wed" value="option3">Wednesday
                                </label>
                                 <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox4" name="thurs" value="option4">Thursday
                                </label>
                                 <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox5" name="fri" value="option5">Friday
                                </label>
                                 <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox6" name="sat" value="option6">Saturday
                                </label>
                                 <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox7" name="sun" value="option7">Sunday
                                </label>
                            </div>
                        </div>

                        <div class="form-group">  
                            <div class="col-sm-offset-2 col-sm-10">  
                                <button class="btn btn-default" type="submit" name="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</section>

<!--Javascript and jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>