.container-fluid.main-info {
	padding: 70px 30px;
	background-image: url('images/macimage.jpg');
	background-size: cover;
	background-position: 50% 20%;
	background-repeat: no-repeat;
}

.container-fluid.main-info p {
	font-size: 18px;
	letter-spacing: 2px;
}

.container-fluid.main-info h1 {
	letter-spacing: 5px;
	font-size: 40px;
}

.container.panel-section {
	padding: 10px 30px;
}

#logo-section img {
	width: 125px;
}

#comment-section h5, #testimonials h5 {
	font-size: 16px;
}

#testimonials img {
	width: 24px;
}

#testimonials blockquote {
	font-size: 14px;
	line-height: 2;
}

.tabrow {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav-tabs.nav-justified {
	margin-top: 20px;
}

div p, ul li {
	line-height: 2;
}