body {
	background-color: #eee;
}

.container .top-site {
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid.main-info {
	background-color: #eee;
	padding: 70px 30px;
	background-image: url('images/macimage.jpg');
	background-size: cover;
	background-position: 50% 20%;
	background-repeat: no-repeat;
}

.container-fluid.main-info p {
	font-size: 18px;
	letter-spacing: 2px;
}

.container-fluid.main-info h1 {
	letter-spacing: 5px;
	font-size: 40px
	;
}

.container.panel-section {
	padding: 10px 30px;
}

img {
	width: 125px;
}

#comment-section h5, #testimonials h5 {
	font-size: 16px;
}

#testimonials img {
	width: 30px;
}

#testimonials p:last-child {
	text-indent: 20px;
}

#testimonials blockquote {
	font-size: 14px;
}

.tabrow {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav-tabs.nav-justified {
	margin-top: 20px;
}

div p {
	line-height: 2;
}