.jumbotron {
	margin: 20px;
	border-radius: 8px;
	background-color: #00815F;
	color: white;
}

.nav-pills > li.active > a {
	background-color: #00815F;
}

.container-fluid.main-info {
	background-color: #eee;
	padding: 40px 30px;
	letter-spacing: 2px;
}

.container-fluid.main-info p {
	font-size: 18px;
}

.container-fluid.panel-section {
	padding: 10px 30px;
}

img {
	width: 125px;
}

.col-xs-2 img {
	text-align: center;
}

.tabrow {
	text-transform: uppercase;
	letter-spacing: 2px;
}